aiohttp
https://github.com/Rapptz/discord.py/archive/rewrite.zip#egg=discord.py[voice]
youtube_dl
async_timeout
pickledb
gTTS-token
bs4
future
asteval
uvloop
cchardet
ujson
psutil
cozmo
elizabeth
qrcode
cython
tesserocr
pyscreenshot
bson
